<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"> 
	 <script src="../jquery.js"></script>
	 <script src="handlebars.js"></script>	 	 
	 <script src="jquery.plugins.js"></script>
	 <script src="scripts.js"></script>
	</head>
	<body>
		<button class="font-sizer" data-fontsizer="-=10">-10px</button>
		<button class="font-sizer" data-fontsizer="+=10">+10px</button>
		<div id="mydiv">
			<div class="urlize" data-url="http://escuela.it">
				Enlazar <span class="boldize">sin ser</span> un enlace
			</div>
			<div class="urlize" data-url="http://escuela.it">
				Enlazar <span class="boldize colorize" data-color="red">sin ser</span> un enlace
			</div>
			<div class="urlize" data-url="http://escuela.it">
				Enlazar <span class="boldize colorize">sin ser</span> un enlace
			</div>
			<div class="urlize" data-url="http://escuela.it">
				Enlazar <span class="boldize">sin ser</span> un enlace
			</div>
		</div>
		
		<div id="template-target" data-dataOrUrl="json.aspx"></div>
		
		<script id="template" type="text/x-handlebars-template">
			<div>
				<h1>{{title}}</h1>
				<p>
					{{body}}
				</p>
			</div>
			<div>Template 1</div>			
		</script>
		
	</body>
</html>