<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"> 
	 <script src="../jquery.js"></script>
	 <script src="handlebars.js"></script>	 
	 <script src="jquery.plugins.js"></script>
	 <script src="scripts.js"></script>
	</head>
	<body>
		<button class="font-sizer" data-fontsizer="-=10">-10 px</button>
		<button class="font-sizer" data-fontsizer="+=10">+10 px</button>
		<div id="mydiv">
			<div class="urlize" data-url="http://escuelait.com">Enlazar <span class="boldize colorize" data-color="red">sin</span> ser un enlace</div>
		</div>
		<div id="template-target"></div>
		
		<script id="template" type="text/x-handlebars-template">
			<div>
				<h1>{{title}}</h1>
				<p>
					{{body}}
				</p>
			</div>
			<div>Template 1</div>			
		</script>
	</body>
</html>