<% @Page Language="c#" %>
<%
	string json = "{ \"title\": \"My title\", \"body\": \"My body\"}";
	
	Response.Clear();
	Response.ContentType = "application/json; charset=utf-8";
	Response.Write(json);
	Response.End();	
%>