<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<script src="../jquery.js"></script>
		<script src="handlebars.js"></script>
		<script src="handlebars.helpers.js"></script>
		<script src="templating.js"></script>
	</head>
	<body>
		<input type="text" id="title" placeholder="title"></input>
		<input type="text" id="body" placeholder="body"></input>
		<input type="button" id="mybutton" value="Generar HTML"/>
		<div id="mydiv"></div>
		<textarea id="mytextarea" style="width:600px; height:300px;"></textarea>		
		
		<script id="template8" type="text/x-handlebars-template">
			{{pablo text}}
		</script>
		
		<script id="template7" type="text/x-handlebars-template">
			<select>
				{{#each options}}
					<option value="{{@index}}">{{optionValue}}</option>
				{{/each}}
			</select>
		</script>

		
		<script id="template6" type="text/x-handlebars-template">
			{{! Mostrar el titulo solo si el usuario lo ha introducido}}
			<h1>{{#if title}} {{title}} {{else}} No hay title{{/if}}</h1>
			<ul>
				{{#each people}}
				<li>
				{{firstName}} {{lastName}}
				</li>
				{{/each}}
			</ul>
			<div>Template 6</div>
		</script>
		
		<script id="template5" type="text/x-handlebars-template">
			<h1>{{#if title}} {{title}} {{else}} No hay title{{/if}}</h1>
			<p>
				{{#if body}} {{body}} {{else}} No hay body{{/if}}
			</p>
			<div>Template 5</div>
		</script>
		
		<script id="template4" type="text/x-handlebars-template">
			<h1>{{title}}</h1>
			<h2>By {{author.name}} {{author.id}}</h2>
			<p>
				{{body}}
			</p>
			<div>Template 4</div>
		</script>
		
		<script id="template3" type="text/x-handlebars-template">
			{{#francisco people}} {{firstName}} {{lastName}} {{/francisco}}
			<div>Template 3</div>
		</script>
		
		<script id="template2" type="text/x-handlebars-template">
			<div>
				{{toh1 title}}
				<p>
					{{body}}
				</p>
			</div>
			<div>Template 2</div>
		</script>
		
		<script id="template" type="text/x-handlebars-template">
			<div>
				<h1>{{title}}</h1>
				<p>
					{{body}}
				</p>
			</div>
			<div>Template 1</div>			
		</script>
	</body>
</html>